flows.json
[{"id":"60e54eac.dfdeb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38ce9785.b10678","type":"debug","z":"60e54eac.dfdeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"dd83314e.3881d","type":"http request","z":"60e54eac.dfdeb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["6061e815.096008","bcba16d6.5e7928"]]},{"id":"b7d60ca5.7fdbe","type":"function","z":"60e54eac.dfdeb","name":"Pre-tocken","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"dGJ-AekuOFeJZW-YWdA8ByEuThAf5BKpJOQVlb4bu30B\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["dd83314e.3881d"]]},{"id":"6061e815.096008","type":"function","z":"60e54eac.dfdeb","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["d37d8445.edc548"]]},{"id":"bcba16d6.5e7928","type":"debug","z":"60e54eac.dfdeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"4d274b24.ac8ff4","type":"function","z":"60e54eac.dfdeb","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["63deb848.d8c9f8","6b8a659d.cec2cc"]]},{"id":"d37d8445.edc548","type":"http request","z":"60e54eac.dfdeb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3441698d-d335-40d8-893e-56f223b35e59/predictions?version=2020-10-18","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["4d274b24.ac8ff4","766a95d0.e9c0bc"]]},{"id":"766a95d0.e9c0bc","type":"debug","z":"60e54eac.dfdeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"6b8a659d.cec2cc","type":"debug","z":"60e54eac.dfdeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"63deb848.d8c9f8","type":"ui_text","z":"60e54eac.dfdeb","group":"79b66803.06fdb8","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"a3b2ef2e.aa8b1","type":"inject","z":"60e54eac.dfdeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["b7d60ca5.7fdbe"]]},{"id":"31c9bfe4.19477","type":"ui_gauge","z":"60e54eac.dfdeb","name":"","group":"79b66803.06fdb8","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"c0ba06a5.c184a8","type":"ui_gauge","z":"60e54eac.dfdeb","name":"","group":"79b66803.06fdb8","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"7d1ae519.552ebc","type":"ui_gauge","z":"60e54eac.dfdeb","name":"","group":"79b66803.06fdb8","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"db5106ce.082668","type":"ui_gauge","z":"60e54eac.dfdeb","name":"","group":"79b66803.06fdb8","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"da17bef8.de04b","type":"ui_gauge","z":"60e54eac.dfdeb","name":"","group":"79b66803.06fdb8","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"6e41d2de.a0931c","type":"ibmiot in","z":"60e54eac.dfdeb","authentication":"apiKey","apiKey":"b8fc9943.a66a18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"4309","applicationId":"","deviceType":"RHMP1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["db5106ce.082668","31c9bfe4.19477","7d1ae519.552ebc","da17bef8.de04b","c0ba06a5.c184a8","38ce9785.b10678","b7d60ca5.7fdbe"]]},{"id":"79b66803.06fdb8","type":"ui_group","z":"","name":"IoT Heart ","tab":"42469906.d5caf8","order":3,"disp":true,"width":"17","collapse":false},{"id":"b8fc9943.a66a18","type":"ibmiot","z":"","name":"nod","keepalive":"60","serverName":"b27dk9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"42469906.d5caf8","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]